<div class="titulo">
  <h2>Práctica API en Componente</h2>
  <h3>Gustavo Adolfo Avendaño Guevara</h3>
  <br>
  <button class="waves-effect waves-light btn-large" (click)="recuperarDatos()">Recuperar datos de API Inegi</button>
</div>
<br>

@if(array.length != 0) {
  <div class="contenedor">
    <table class="striped">

      <caption> <p>Tabla de Datos INEGI</p> </caption>

      <thead>
        <tr>
          <th>Nombre</th>
          <th>Imagen</th>
          <th>Descripción</th>
        </tr>
      </thead>

      <tbody>
        @for(i of array; track i) {
          <tr>
            <td>{{i.name}}</td>
            <td>{{i.image_url}}</td>
            <td>{{i.release_data}}</td>
          </tr>
        }
      </tbody>

    </table>
  </div>
}